{% extends 'base.html.twig' %}

{% block body %}
    <p>This is the BO home</p>
    <a href="{{ path('bo_simpleform') }}">Form</a>
    <a href="{{ path('bo_advancedform') }}">Form w/ class</a>
{% endblock %}
